[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[packages]
django = ">=2.2"
djangorestframework = "*"
"dj-database-url" = "*"
"psycopg2-binary" = "*"
"politico-civic-utils" = "~=1.0a1.dev1"
"politico-civic-entity" = "~=1.0a1.dev1"
"politico-civic-geography" = "~=1.0a1.dev2"
"government" = {path = "./..", editable = true}

[dev-packages]
ipython = "*"
pytest = "*"
"flake8" = "*"
