[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6"

[packages]

pytest = "*"
"flake8" = "*"
django = ">=2.0"
djangorestframework = "*"
"dj-database-url" = "*"
"psycopg2" = "*"
"government" = {path = "./..", editable = true}
core = {git = "ssh://git@github.com/The-Politico/politico-civic-core", editable = true}
geography = {git = "ssh://git@github.com/The-Politico/politico-civic-geography", editable = true}
entity = {git = "ssh://git@github.com/The-Politico/politico-civic-entity", editable = true}

[dev-packages]
